<h1>DataChannel Demo</h1>
<p>Classes: <code>DataChannel</code>
</p>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>This ad-hoc demo creates a very basic data channel between two elements on the same page</h4>
      <p>Send a message through P2P channel</p>
      <pre>
          var msg = 'testing';
          var dc = new DataChannel(pc.createDataChannel('test'));
          dc.send(msg);
      </pre>

      <div class="controlbox">
        <button id="connectButton" name="connectButton" class="buttonleft">
          Connect
        </button>
        <button id="disconnectButton" name="disconnectButton" class="buttonright" disabled>
          Disconnect
        </button>
      </div>
      
      <div class="messagebox">
        <label for="message">Enter a message:
          <input type="text" name="message" id="message" placeholder="Message text" 
                  inputmode="latin" size=60 maxlength=120 disabled>
        </label>
        <button id="sendButton" name="sendButton" class="buttonright" disabled>
          Send
        </button>
      </div>
      <div class="messagebox" id="receivebox">
        <p>Messages received:</p>
      </div>

    </div>
  </div>
</div>
